{% extends "base.html" %}
{% load static %}

{% block title %}Add a Company{% endblock %}

{% block content %}
<div class="center-text">
    <h1>Add New Company</h1>
    <div class="form-container">
    <form method="post" class="sleek-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Company name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_contact_email">Contact email:</label>
            {{ form.contact_email }}
        </div>
        <div class="form-group">
            <label for="id_tests_remaining">Test Balance:</label>
            {{ form.tests_remaining }}
        </div>
        <div class="button-row">
            <a href="{% url 'menu' %}" class="menu-button">
                <i class="fa fa-arrow-left"></i> Back to Menu
            </a>
            <button type="submit" class="menu-button">
                <i class="fa fa-plus-circle"></i> Add Company
            </button>
        </div>
    </form>
</div>
</div>
                </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}