{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}
<div class="center-text">
    <h1>Main Menu</h1>
    <h3 class="select-option">Select an option:</h3>
    <ul class="button-list">
        <li><a href="{% url 'manage_queue' %}" class="menu-button">Manage Queue</a></li>
        <li><a href="{% url 'queue_list' %}" class="menu-button">Queue List</a></li>
        <li><a href="{% url 'add_company' %}" class="menu-button">Add Company</a></li>
        <li><a href="{% url 'modify_companies' %}" class="menu-button">Modify Companies</a></li>
        <li><a href="{% url 'dashboard' %}" class="menu-button">Dashboard</a></li>
        <li><a href="{% url 'report_list' %}" class="menu-button">Reports</a></li>
        <li><a href="{% url 'driver_form' %}" class="menu-button">Driver Form</a></li>
    </ul>
</div>
{% endblock %}