{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="top-bar">
        <div class="logo-container">
            <img src="{% static 'images/Level1DA.PNG' %}" alt="Company Logo" class="logo">
        </div>
    </div>
    <div class="splash-screen">
        <div class="splash-content">
            <img src="{% static 'images/Level1DA.PNG' %}" alt="Company Logo" class="splash-logo">
            <h1>Welcome!</h1>
        </div>
    </div>
    <div class="center-text">
        <h1> Thank you for checking in!</h1>
        <h3 class="select-option">Feel free to view queue or like us on Facebook!</h3>
        <a href="{% url 'queue_list' %}" class="menu-button" ><i class="fa fa-group"></i> View Queue</a>
        <h3 class="select-option"> </h3>
        
        
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-53fa6fc2-d129-4566-b12d-1593aaf09912" data-elfsight-app-lazy></div>

    
</div>
</body>
</html>